.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.App input {
  margin-top: 10px;
  width: 200px;
  height: 30px;
  font-size: 16px;
  padding-left: 10px;
}

.App input:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #ccc;
}